

:root {
    --cor-de-fundo: #FFFFFF;
    --indianred: #CD5C5C;
    --darkblue: #00008B;
    --fonte-principal: "Merriweather";
    --lightcoral: #F08080;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.cabeçalho__menu-pesquisa {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--indianred);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--indianred);
}

.lista-menu__titulo {
    color: var(--indianred);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}





